body {
    text-align: center;
}

button {
    background-color: #000000;
    color: #ffffff;
    width: 100px;
    height: auto;
    cursor: pointer;
    margin-top: 5px;
}

button:hover {
    background-color: #ffffff;
    color: #000000;  
}

.final {
    width: 200px;
}