body {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "header header"
                         "navigation navigation"
                         "main aside"
                         "footer footer";
    gap: 5px;
    text-align: center;
    background-color: blue;                   
}

header {
    grid-area: header;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 50px;
}

nav {
    grid-area: navigation;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 50px;
}

aside {
    grid-area: aside;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 50px;
}

main {
    grid-area: main;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 50px;
}

footer {
    grid-area: footer;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 50px;
}

@media (min-width: 768px) and (max-width: 1023px) {
    body {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas: "navigation header header"
                             "navigation footer footer"
                             "navigation main aside";
        background-color: green;                         
    }
}

@media (min-width: 1024px) {
    body {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas: "header header header"
                             "navigation main aside"
                             "navigation footer footer";
        background-color: red;                         
    }
}

/* The designed is left to be Mobile First and because of this the max 600px wide is not represented. 
In my opinion this is much better without leaving media gap between the 600px and the 768px width devices! */