body {
    position: relative;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.sky {
    width: 100%;
    height: 80vh;
    background-color: darkblue;
}

.land {
    width: 100%;
    height: 20vh;
    background-color: darkgreen;
}

.sun {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: radial-gradient(circle at 50% 50%, rgba(255, 255, 0, 1) 0%, rgba(255, 255, 255, 0.8) 100%);
    outline: 1px solid rgb(255, 255, 255, 0.3);
    outline-width: 5px;
    animation-name: sun;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

@keyframes sun {
    0% {left: 0%; translate:-50px; bottom: 20vh;}
    5% {left: 5%; bottom: 26.66vh;}
    10% {left: 10%; bottom: 33.2vh;}
    15% {left: 15%; bottom: 39.8vh;}
    20% {left: 20%; bottom: 46.4vh;}
    25% {left: 25%; bottom: 53vh;}
    30% {left: 30%; bottom: 59.6vh;}
    35% {left: 35%; bottom: 66.2vh;}
    40% {left: 40%; bottom: 72.8vh;}
    45% {left: 45%; bottom: 79.4vh;}
    50% {left: 50%; bottom: 80vh; scale: 4; outline-width: 200px;}
    55% {left: 55%; bottom: 79.4vh;}
    60% {left: 60%; bottom: 72.8vh;}
    65% {left: 65%; bottom: 66.2vh;}
    70% {left: 70%; bottom: 59.6vh;}
    75% {left: 75%; bottom: 53vh;}
    80% {left: 80%; bottom: 46.4vh;}
    85% {left: 85%; bottom: 39.8vh;}
    90% {left: 90%; bottom: 33.2vh;}
    95% {left: 95%; bottom: 26.66vh;}
    100% {left: 100%; translate: 50px; bottom: 20vh;}
}